@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@keyframes glitch {
  0%,40%,44%,58%,61%,65%,69%,73%,100% {transform:skewX(0deg);}
  41% {transform: skewX(1deg);}
  42% {transform: skewX(-2deg);}
  59% {transform: skewX(1deg) skewY(3deg);}
  60% {transform: skewX(-1deg) skewY(-3deg);}
  63% {transform: skewX(1deg) skewY(-1deg);}
  70% {transform: skewX(-1deg) skewY(-3deg);}
  71% {transform: skewX(1deg) skewY(-3deg);}
}

.logo__img{
	width:70px;
	height: 70px;
}

.header {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 10px 0px wheat;
}

body{
	background:black;
	margin:0px;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-grow: 1.1;
}

.logo {
    flex-grow: 3;
}

.menu__item {
		display:block;
    color: #de3d3d;
    text-decoration: none;
    font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 700;
    text-transform: uppercase;
}

.menu__item::after{
	content:"";
	background:#de3d3d;
	width:auto;
	padding:3px;
	display:block;
}

.header__out {
    height: 90vh;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(/animated.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__description__margin {
    font-size: 144%;
		font-family: 'Roboto Slab', serif;
  text-align: center;
  font-weight: normal;
  color: transparent;
  text-shadow: 0 0 1px #eee, 1px 0px 1px #00dcdc, -1px -2px 1px #ff3232;
  animation: glitch 4s ease-in-out infinite alternate;
    padding: 28px;
}

.header__title_margin {
    font-size: 471%;
    /*text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, #cad5e2 5px 5px 0;
		text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);*/
		font-family: 'Roboto Slab', serif;
  text-align: center;
  font-weight: normal;
  color: transparent;
/*
  text-shadow: 0 0 1px #eee, 5px 5px 1px #00dcdc, -5px -2px 1px #ff3232;
	*/
	text-shadow: 0 0 1px #eee, 1px 0px 1px #00dcdc, -1px -2px 1px #ff3232;
  animation: glitch 4s ease-in-out infinite alternate;
		margin-top:20px;
}

.down__arrow {
    /*transform: rotate(90deg);*/
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    border: 2px solid;
    padding: 6px;
    border-radius: 30%;
    height: 60px;
    width: 20px;
		box-shadow: 0 0 1px #eee, 1px 0px 1px #00dcdc, -1px -2px 1px #ff3232;
		text-align:center;
}

.down__arrow a i {
  color: white;
  text-decoration: none;
  font-size: 45px;
}

.down_arrow a {
  text-decoration: none;
}

.other__body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.articles__inner {
    margin-top: 40px;
    margin-left: 13px;
    border-radius: 7px;
    display: flex;
    border: 2px solid white;
    width: 28%;
    color: white;
    height: min-content;
}

a{
	text-decoration:none;
	color:white;
}

.link {
    flex-grow: 2;
    width: 242px;
    background-position-x: 42% !important;
    background-position-y: 50% !important;
}

.articles__title {
    font-size: 20px;
}

.article__contents div {
    padding: 2px 10px;
    width: -2px;
}

.articles__description {
    font-size: 13px;
}